.padding {
  padding-top: 4px;
  padding-bottom: 16px;
}

.grid-portafolio{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 32px;
}

.item-portafolio{
  background-color: var(--background-lighter);
  border-radius: 8px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 10px;
}

.icon-grid{
  display: grid;
  grid-template-columns: 2;
}

.icon-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 12px;
  gap: 16px;
}

.icon{
  width: 20px;
  background-color: var(--gray-100);
  border-radius: 8px;
}

.icon-flecha{
  /* display: flex;
  flex-direction: row;
  padding-right: 27px; 
  padding-left: 50px;
  gap: 16px; */
  position: absolute;
  /* left: 12.45%; */
  left: 338px;
  right: 12.5%;
  top: 12.5%;
  bottom: 12.45%;
}

.badge-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.badge {
  display: inline-block;
  padding: 2px 10px;
  background-color: var(--primary-lighter);
  color: var( --text);
  border-radius: 10px;
  margin-right: 8px;
}
